@charset "utf-8";
/* CSS Document */
body, h1, h2, h3, h4, h5, h6, p { font-family: 'Bitter',"微軟正黑體","Microsoft JhengHei", serif; -webkit-font-smoothing: antialiased;}
a{ text-decoration:none; outline: none; /* for Firefox */  hlbr:expression(this.onFocus=this.blur()); /* for IE */}
a:hover{ text-decoration:none;}
select, input, textarea{ font-family:"微軟正黑體","Microsoft JhengHei", serif; -webkit-font-smoothing: antialiased; font-size:15px;}
*:link, *:visited, *:hover, *:active, *:focus , * { -o-transition: color .20s linear, background-color .20s linear, border-color .20s linear; -webkit-transition: color .20s linear, background-color .20s linear, border-color .20s linear; -moz-transition: color .20s linear, background-color .20s linear, border-color .20s linear; transition: color .20s linear, background-color .20s linear, border-color .20s linear; }
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video { margin:0; padding:0; border:0; outline:0; font-size:100%; vertical-align:baseline;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section { display:block;}
blockquote, q { quotes:none;}
blockquote:before, blockquote:after, q:before, q:after { content:''; content:none;}
* {-webkit-text-size-adjust:none;}
a{text-decoration:none;}
fieldset, img {border:0;}
ol, ul {list-style:none;}
abbr, acronym {border:0;}
.CLEAR{clear:both; height: 0; font-size: 0px; line-height: 0;}
.clearfix:after {  content: ".";  display: block;  height: 0;  clear: both;  visibility: hidden;}
* html .clearfix { height: 1%;}
*:first-child + html .clearfix  {min-height: 1%;}

:root{
	--var-height: 1080px;
	--var-circle-height: calc(var(--var-height) * 0.8);
}

body{
	background-color: black;
	width: var(--var-height);
	height: var(--var-height);
	position: relative;
	overflow: hidden;
}

#score-view{
	width: 100%;
	height: 100%;
	position: relative;
	display: flex;
}

/* open-sans-regular - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'),
       url('../fonts/open-sans-v15-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/open-sans-v15-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-700italic - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  src: local('Open Sans Bold Italic'), local('OpenSans-BoldItalic'),
       url('../fonts/open-sans-v15-latin-700italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/open-sans-v15-latin-700italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-800italic - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 800;
  src: local('Open Sans ExtraBold Italic'), local('OpenSans-ExtraBoldItalic'),
       url('../fonts/open-sans-v15-latin-800italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/open-sans-v15-latin-800italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* -- go -- */

.scoreBox{ width: var(--var-circle-height); height: var(--var-circle-height); border-radius: 50%;/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f14fdb+0,935be6+27,0f6cf5+50,095ecd+71,213343+100 */
margin: auto;
background: #f14fdb; /* Old browsers */
background: -moz-linear-gradient(45deg, #f14fdb 0%, #935be6 27%, #0f6cf5 50%, #095ecd 71%, #213343 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(45deg, #f14fdb 0%,#935be6 27%,#0f6cf5 50%,#095ecd 71%,#213343 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(45deg, #f14fdb 0%,#935be6 27%,#0f6cf5 50%,#095ecd 71%,#213343 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f14fdb', endColorstr='#213343',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
display: -webkit-flex; display: flex; -webkit-align-items: center; align-items: center; -webkit-justify-content: center; justify-content: center;}

.scoreBox p{font-family: 'Open Sans',"微軟正黑體", sans-serif; font-size: calc(var(--var-circle-height) * 0.45); line-height: calc(var(--var-circle-height) * 0.45); font-weight: 800; width: 100%; text-align: center; font-style: italic; color: #fff; text-shadow: 0vh 0vh calc(var(--var-circle-height) * 0.05) rgba(0, 0, 0,.3), 0vh calc(var(--var-circle-height) * 0.05) calc(var(--var-circle-height) * 0.08) rgba(0, 0, 0,.5);}
.scoreBox p.school_name{ font-size: calc(var(--var-circle-height) * 0.08); width: 100%; margin: 0 auto; display:block; font-style: normal; line-height: calc(var(--var-circle-height) * 0.12); text-shadow: 0vh 0vh calc(var(--var-circle-height) * 0.03) rgba(0, 0, 0,.6), 0vh calc(var(--var-circle-height) * 0.02) calc(var(--var-circle-height) * 0.04) rgba(0, 0, 0,.5);}
.scoreBox ul{ width: calc(var(--var-circle-height) * 0.84); height: calc(var(--var-circle-height) * 0.84);}
.scoreBox ul li{float: left; width: calc(var(--var-circle-height) * 0.42); height: calc(var(--var-circle-height) * 0.42); display: -webkit-flex; display: flex; -webkit-align-items: center; align-items: center; -webkit-justify-content: center; justify-content: center}
.scoreBox ul li p{ font-size: calc(var(--var-circle-height) * 0.24); line-height: calc(var(--var-circle-height) * 0.24); }

.grid_4{ position: relative; }
.grid_4::after{ content: ""; position: absolute; width: calc(var(--var-circle-height) * 0.02); height: var(--var-circle-height); left: 50%; top: 0; margin-left: calc(var(--var-circle-height) * -0.01); display: block; background-color: #4ae4d8; }
.grid_4::before{ content: ""; position: absolute; height: calc(var(--var-circle-height) * 0.02); width: var(--var-circle-height); top: 50%; left: 0; margin-top: calc(var(--var-circle-height) * -0.01); display: block; background-color: #4ae4d8; }
/*.grid_4 p.school_name{ font-size: 4.5vh; display:block;font-style: normal; line-height: 5.5vh; text-shadow: 0vh 0vh 3vh rgba(0, 0, 0,.6), 0vh 2vh 4vh rgba(0, 0, 0,.5);}
*/
