@charset "utf-8";
/* CSS Document */
html, body, div, span, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,abbr, address, cite, code,del, dfn, em, img, ins, kbd, q, samp,small, strong, sub, sup, var,b, i, dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, figcaption, figure,footer, header, hgroup, menu, nav, section, summary,time, mark, audio, video { margin:0; padding:0; border:0; outline:0; font-size:100%; vertical-align:baseline;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section { display:block;}
blockquote, q { quotes:none;}
blockquote:before, blockquote:after, q:before, q:after { content:''; content:none;}
input, textarea { margin:0; padding:0;}
* {-webkit-text-size-adjust:none;}
a{text-decoration:none;}
fieldset, img { border:0;}
ol, ul { list-style:none;}
abbr, acronym { border:0;}

.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden;}
* html .clearfix {height: 1%;}
*:first-child + html .clearfix { min-height: 1%;}

body, h1, h2, h3, h4, h5, h6, p {font-family: 'Bitter',"微軟正黑體","Microsoft JhengHei", serif; -webkit-font-smoothing: antialiased;}
p{font-size: 0.938em;}
a{  text-decoration:none; outline: none; transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;}
a:hover{ text-decoration:none;}
select, input, textarea, button {  font-family:"微軟正黑體","Microsoft JhengHei", serif; -webkit-font-smoothing: antialiased;}
*:link, *:visited, *:hover, *:active, *:focus , * {border: none;outline: none; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
html, body{ height: 100%; }
body{font-size: 100%;}

#score-view{
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
}

/* open-sans-regular - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'),
       url('../fonts/open-sans-v15-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/open-sans-v15-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-700italic - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  src: local('Open Sans Bold Italic'), local('OpenSans-BoldItalic'),
       url('../fonts/open-sans-v15-latin-700italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/open-sans-v15-latin-700italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-800italic - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 800;
  src: local('Open Sans ExtraBold Italic'), local('OpenSans-ExtraBoldItalic'),
       url('../fonts/open-sans-v15-latin-800italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/open-sans-v15-latin-800italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}


/* -- go -- */
.scoreBox{ width: 100vw; height: 100vh; display: block; background:url(../images/bg.png) center center no-repeat; background-size:  cover;}
.scoreBox p{font-family: 'Open Sans',"微軟正黑體", sans-serif; font-size: 27vw; line-height: 39vw; font-weight: 800; width: 100%; text-align: center; font-style: italic; color: #fff; text-shadow: 0vw 0vw 5vw rgba(0, 0, 0,.3), 0vw 5vw 8vw rgba(0, 0, 0,.5);}
.scoreBox p.school_name{ font-size: 6vw; line-height: 4vw; margin: 0 auto; display:block; font-style: normal; text-shadow: 0vw 0vw 3vw rgba(0, 0, 0,.6), 0vw 2vw 4vw rgba(0, 0, 0,.5);
  margin-top: 1.5vw;
  margin-bottom: 1.5vw;
  /*copy from grid_4 p.school_name*/
  height: 8vw; padding: 2vw 0;
}

.scoreBox ul{ width: 75%; height:calc(100vh - 12vw); margin: 0 auto;}
.scoreBox ul li{float: left; width: 50%; height: 50%;}
.scoreBox ul li .left{ float: left; height: 100%; padding-left: 4vw; text-align: center; }
.scoreBox ul li .right{ float: right; height: 100%; padding-right: 4vw; text-align: center; }
.scoreBox ul li p{ font-size:12vw;  line-height: initial;}
.scoreBox ul li p.nb{ min-width: 18vw; }
.box-center{ display: -webkit-flex; display: flex; -webkit-align-items: center; align-items: center; -webkit-justify-content: center; justify-content: center;}

.grid_4 ul li{ position: relative; }
.grid_4 ul li::before{ content: ""; position: absolute; /*調整線的粗度*/ width: 0.3vw; height:100%; right: 0; top: 0; display: block; background-color: #f559f4; }
.grid_4 ul li:nth-child(2)::before, .grid_4 ul li:nth-child(4)::before{ left: 0; background-color: #49c3fd; }
.grid_4 ul li::after{ content: ""; visibility: initial; position: absolute; width:100%; /*調整線的粗度*/  height: 0.3vh; right: 0; bottom: 0; display: block; background-color: #4ae4d8; }

.grid_4 ul li:nth-child(3)::after, .grid_4 ul li:nth-child(4)::after{ bottom: initial; top: 0; }
.grid_4 ul li:nth-child(1)::after, .grid_4 ul li:nth-child(3)::after{background-color: #f559f4; }
/*.grid_4 p.school_name{ height: 8vw; padding: 2vw 0; }*/


