<!DOCTYPE html>
<html lang="en">

<head>
    <% include partials/head %>

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="/css/console.css">
</head>

<body>

    <script type="text/javascript" src="/js/console.js"></script>
</body>

</html>
