<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="MobileOptimized" content="width">
	<meta name="HandheldFriendly" content="true">
	<meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    
    <title>分數顯示</title>

	<script type="text/javascript" src="/js/vue.min.js"></script>
	<script type="text/javascript" src="/js/socket.io.js"></script>

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="/css/scoreview.css">
</head>

<body>
	<div id="score-view">
		<content class="scoreBox" v-bind:class="{ 'grid_4' : multiScores }"> 
			<!-- 單一數字 -->
			<!-- 單一數字 + 學校名稱 -->
			<div v-if="onlyScore || scoreWithName">
				<p v-if="scoreWithName" class="school_name">{{ remoteData.name }}</p>
				<p>{{ remoteData.score }}</p>
			</div>
			<!-- 4格 單一數字 -->
			<p v-if="multiScoreWithName" class="school_name">{{ remoteData.name }}</p>
			<ul v-if="multiScores" class="clearfix">
				<li v-for="(score, index) in remoteData.scores" class="clearfix">
					<div :class="{ 'right' : index % 2 == 0, 'left' : index % 2 != 0 }" class="box-center">
						<p class="nb">{{ score }}</p>
					</div>
				</li>
			</ul>
		</content>	
	</div>

	<script type="text/javascript" src="/js/scoreview.js"></script>
</body>
</html>